// Place all the styles related to the public/gos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

//行ってみたい画面
  //ブックマーク件数
.go-count {
  border-bottom: 2px solid gainsboro;
  margin-left: 30px;
  padding: 0px 5px;
}