<div class="container ppp col-lg-8">
  <div class="row">
    <div class="tittel mx-auto">
      <h1>
          ようこそ！旅行好きが集まる「travel mark」へ
      </h1>
    </div>
  </div>

  <div class="row">
    <div class="text mx-auto">
      <h4>
          ここには旅行好きの仲間が集い、各々が旅の思い出を書き記していく場所です</br>
          これから沢山の思い出を投稿し、自分だけの旅の足跡を作ってみてください！</br>
          </br>
          この「travel mark」は自分の旅の足跡を作るだけでなく、見つける場所でもあります</br>
          みんながどんな所へ行っているのか探してみてください！</br>
          気になる所あれば、マークをつけて何度も見返すこともできます</br>
          ぜひ活用してみてくださいね！
      </h4>
    </div>
  </div>

  <div class="row">
     <div class="next mx-auto">
       <h1>
         <%= link_to '次へ', public_posts_path, class: 'btn btn-outline-dark btn-lg' %>
       </h1>

      </div>
  </div>
</div>